
.title{
	background: #c3e3eb;
}

.form{
	background: #0b91b3;
}

.submit{
	background: #c3e3eb;
}

.total{
	background: #c3e3eb;
}

.legend{
	background: #c3e3eb;
}

.modify{
	color: #0b7bb3;
}

.output{
	color: white;
}